# Node.js modules
/node_modules/

# Environment variables
.env

# Logs and temporary files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# SQLite database files
/database/*.db

# OS-specific files
.DS_Store
Thumbs.db

# IDE and editor files
.vscode/
.idea/
*.swp
*.code-workspace

# Test results and coverage reports
coverage/
test-results/

# Dist and build directories
/dist/
/build/
database/*.db
ssh_key
ssh_key.pub
